<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="author" content="{{ site.author.name }}" />
  
  {% if page.subtitle %}
  <meta name="description" content="{{ page.subtitle }}">
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  {% endif %}    
  
  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
    {% endfor %}
  {% endif %}  
  
  {% if layout.common-googlefonts %}
    {% for font in layout.common-googlefonts %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  {% endif %}  
  
  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | prepend: site.baseurl | replace: '//', '/' }}" />
    {% endfor %}
  {% endif %}

  {% if page.googlefonts %}
    {% for font in page.googlefonts %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}

  <!-- Facebook OpenGraph tags -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  
  {% if page.id %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}/" />
  {% else %}
  <meta property="og:url" content="{{ site.url }}{{ page.url | remove: '/index.html' | remove: '.html' }}" />
  {% endif %}
  
  {% if page.fb-img %}
  <meta property="og:image" content="{{ page.fb-img }}" />
  {% elsif site.avatar %}
  <meta property="og:image" content="{{ site.url }}{{ site.avatar }}" />
  {% else %}
  <meta property="og:image" content="" />
  {% endif %}
<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
</head>
